<?xml version="1.0" encoding="UTF-8"?>
<settings>
  <category label="General">
    <setting label="30000" type="bool" id="Google" default="false"/>
    <setting label="30005" type="labelenum" id="IdFrom" values="AniDB.net|IMDB.com" default="AniDB.net"/>
    <setting type="sep"/>
    <setting label="30001" type="text" id="AnimeTitlesUrl" default="https://bakabt.info/anidb/animetitles.xml"/>
    <setting label="30002" type="text" id="AnimeMappingListUrl" default="https://raw.github.com/ScudLee/anime-lists/master/anime-list.xml"/>
    <setting label="30003" type="bool" id="PersonalAnimeMapping" default="false"/>
    <setting label="30004" type="text" id="PersonalAnimeMappingUrl" default="http://localhost/pers-anime-list.xml" enable="eq(-1,true)"/>
    <setting type="sep"/>
    <setting label="30006" type="number" id="DelayValue" default="125"/>
  </category>
  <category label="AniDB 1">
    <setting label="30100" type="bool" id="OfficialName" default="false"/>
    <setting label="30101" type="labelenum" id="OfficialLanguage" values="en|de|fr|it|cs|sk|hu|pl|ru|ja|zh" default="en" enable="eq(-1,true)"/>
    <setting type="sep"/>
    <setting label="30102" type="bool" id="Prequels" default="true"/>
    <setting label="30103" type="labelenum" id="AlternativePrequelLinkType" values="Parent Story|Alternative Setting|Side Story" default="Parent Story" enable="eq(-1,true)"/>
    <setting type="sep"/>
    <setting label="Hidden" type="bool" id="SecondAsMain" default="true" visible="false"/>
    <setting label="Hidden" type="bool" id="AppearsInAsMain" default="true" visible="false"/>
    <setting label="30104" type="bool" id="SingleStudio" default="true"/>
  </category>
  <category label="AniDB 2">
    <setting label="30108" type="labelenum" id="MinGenreWeight" values="100|200|300|400|500|600" default="500"/>
    <setting label="30109" type="labelenum" id="GenreCount" values="0|1|2|3|4|5|6|7|8|9" default="6"/>
    <setting label="30110" type="labelenum" id="RatingType" values="Average|Weighted" default="Average"/>
    <setting type="sep"/>
    <setting label="30111" type="bool" id="UseTags" default="false"/>
    <setting label="30112" type="bool" id="AddTagsToAll" default="false" visible="eq(-1,true)"/>
    <setting label="30113" type="text" id="TagList" subsetting="true" default="Anime" visible="eq(-2,true)" enable="eq(-1,true)"/>
    <setting label="30117" type="bool" id="SourceTags" subsetting="true" default="false" visible="eq(-3,true)"/>
    <setting label="30118" type="text" id="SourcePrefix" subsetting="true" default="Original Work: " visible="eq(-4,true)" enable="eq(-1,true)"/>
    <setting label="30119" type="bool" id="LocationTags" subsetting="true" default="false" visible="eq(-5,true)"/>
    <setting label="30120" type="text" id="LocationPrefix" subsetting="true" default="Location: " visible="eq(-6,true)" enable="eq(-1,true)"/>
    <setting label="30114" type="bool" id="AniDBTags" default="false" visible="eq(-7,true)"/>
    <setting label="30115" type="labelenum" id="MinApproval" subsetting="true" values="1|2|3|4|5|6|7|8|9|10|11|12|13|14|15|16|17|18|19|20" default="10" visible="eq(-8,true)" enable="eq(-1,true)"/>
    <setting label="30116" type="bool" id="IncludeSpoilerTags" subsetting="true" default="false" visible="eq(-9,true)" enable="eq(-2,true)"/>
  </category>
  <category label="Movie">
    <setting label="30300" type="bool" id="UseSets" default="true"/>
    <setting label="30301" type="bool" id="UseAniListSets" subsetting="true" default="true" visible="eq(-1,true)"/>
    <setting label="30302" type="text" id="AnimeSetListUrl" subsetting="true" default="https://raw.github.com/ScudLee/anime-lists/master/anime-movieset-list.xml" visible="eq(-2,true)" enable="eq(-1,true)"/>
    <setting label="30303" type="bool" id="PersonalMovieSetList" subsetting="true" default="false" visible="eq(-3,true)" enable="eq(-2,true)"/>
    <setting label="30304" type="text" id="PersonalMovieSetListUrl" subsetting="true" default="http://localhost/pers-anime-movieset-list.xml" visible="eq(-4,true)" enable="eq(-1,true)+eq(-3,true)"/>
    <setting label="30305" type="bool" id="UseTMDBSets" subsetting="true" default="false" visible="eq(-5,true)"/>
    <setting label="30306" type="bool" id="PreferTMDBSets" subsetting="true" default="false" visible="eq(-6,true)+eq(-5,true)+eq(-1,true)"/>
    <setting label="30307" type="labelenum" values="au|bg|cs|da|de|el|es|fi|fr|gb|he|hr|hu|it|ja|ko|nl|no|pl|pt|ru|sl|sv|th|tr|us|zh" id="tmdbcertcountry" default="us"/>
    <setting label="certprefix" type="text" id="certprefix" default="Rated " visible="false"/>
  </category>
  <category label="TheTVDB">
  	<setting label="30200" type="bool" id="Fanarts" default="true"/>
    <setting label="30202" type="bool" id="NoFanartContinue" default="true" enable="eq(-1,true)"/>
  </category>
</settings>
